# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/waveshare-esp32-p4-wifi6-touch-lcd-7b_display_modular.pre-cleanup.yaml
/archive/
/fonts/
/old/
