---
# Switch (or light) toggle button
# vars:
#    uid:
#    row:
#    column:
#    row_span:
#    column_span:
#    text: 
#    icon:
#    entity_id:

.garage_button_styles:
    - &garage_button_base
      width: 100%
      height: 100%
      #border_width: 0
      radius: 10
      pad_all: 2
      shadow_width: 0 # Bug? - This is required even though the default is supposed to be 0.
      checkable: false
      press_lock: false
      scroll_on_focus: true
      bg_color: slate_blue_gray
      bg_opa: COVER
      border_width: 2
      border_color: very_dark_gray

# This section add a button to LVGL page main_page
lvgl:
  pages:
    - id: !extend main_page
      widgets:
        - container:
            id: ${uid}
            grid_cell_row_pos: ${row}
            grid_cell_column_pos: ${column}
            grid_cell_row_span: ${row_span | default(1)}
            grid_cell_column_span: ${column_span | default(1)}
            grid_cell_x_align: stretch
            grid_cell_y_align: stretch
            scrollbar_mode: "OFF"
            width: 100%
            height: 100%
            border_width: 0
            radius: 10
            pad_all: 0
            shadow_width: 0 # Bug? - This is required even though the default is supposed to be 0.
            checkable: false
            press_lock: false
            scroll_on_focus: true
            # outline_width: 1
            # outline_color: red
            widgets:
            - button:
                id: button_${uid}
                <<: *garage_button_base
                widgets:
                  - label:
                      text_font: $icon_font_2
                      align: top_mid
                      id: icon_${uid}
                      text: ${icon_closed}
                  - label:
                      align: bottom_mid
                      id: label_${uid}
                      text: status
                      text_font: nunito_18
                on_short_click:
                    - homeassistant.action:
                        action: cover.toggle
                        data:
                          entity_id: ${entity_id}

text_sensor:
  - platform: homeassistant
    id: garage_door_status_${uid}
    entity_id: ${entity_id}
    #trigger_on_initial_state: true
    filters:
      - map:
        - open -> Open
        - closing -> Closing...
        - opening -> Opening...
        - closed -> Closed
    on_value:
        then:
          # Update weather_condition
          # - if:
          #   condition:
          #     # Checks if "my_text_sensor" has state "Hello World"
          #     text_sensor.state:
          #       id: my_text_sensor
          #       state: 'Hello World'
          - lvgl.label.update:
              id: label_${uid}
              text: # garage_door_status.state.c_str()
                format: "%s"
                args: [ 'id(garage_door_status_${uid}).state.c_str()' ]

  - platform: homeassistant
    id: garage_door_status_icon_${uid}
    entity_id: ${entity_id}
    filters:
      - map:
        - open -> $icon_open
        - closing -> $icon_transition
        - opening -> $icon_transition
        - closed -> $icon_closed
    on_value:
        then:
          - lvgl.label.update:
              id: icon_${uid}
              text: 
                format: "%s"
                args: [ 'id(garage_door_status_icon_${uid}).state.c_str()' ]

  - platform: homeassistant
    id: garage_door_status_bg_${uid}
    entity_id: ${entity_id}
    #trigger_on_initial_state: true
    filters:
      - map:
        - open -> Open
        - closing -> Closing...
        - opening -> Opening...
        - closed -> Closed
    on_value:
      - if:
          condition:
            # Checks if "my_text_sensor" has state "Hello World"
            text_sensor.state:
              id: garage_door_status_${uid}
              state: 'Closed'
          then:
            - lvgl.widget.update:
                id: button_${uid}
                bg_color: $button_off_color
            - lvgl.widget.update:
                id: icon_${uid}
                text_color: $icon_off_color
          else:
            - lvgl.widget.update:
                id: button_${uid}
                bg_color: $button_on_color
            - lvgl.widget.update:
                id: icon_${uid}
                text_color: blue


# This section will update button state and relay states from Home Assistant
# binary_sensor:
#   - id: widget_sensor_${uid}
#     platform: homeassistant
#     entity_id: ${entity_id}
#     trigger_on_initial_state: true
#     on_state:
#       - if:
#           condition:
#             - binary_sensor.is_on: widget_sensor_${uid}
#           then:
#             - lvgl.widget.update:
#                 id: button_${uid}
#                 bg_color: $button_on_color
#             - lvgl.widget.update:
#                 id: icon_${uid}
#                 text_color: $icon_on_color
#             - lvgl.widget.update:
#                 id: label_${uid}
#                 text_color: $label_on_color
#           else:
#             - lvgl.widget.update:
#                 id: button_${uid}
#                 bg_color: $button_off_color
#             - lvgl.widget.update:
#                 id: icon_${uid}
#                 text_color: $icon_off_color
#             - lvgl.widget.update:
#                 id: label_${uid}
#                 text_color: $label_off_color                            
